body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

th {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

.highlight{
  background-color: #85896a;
}
.dialog-content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}
#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.course-name {
  font-weight: bold;
}